@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #f0e68c, #e3c565);
    color: #4b3832;
    font-family: "Montserrat", sans-serif;
}

.mapa {
    height: 400px;
    width: 400px;
}

.parrafo {
    width:1200px;
    background: linear-gradient(to right, #f0e68c, #e3c565); 
    border: 3px solid #d4af37; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:40px;
}

.exit {
    color: #4b3832;
    text-decoration: none;
    border: 3px solid #4b3832;
    padding:15px;
    border-radius: 10px;
}
.exit:visited {
    color:  #4b3832;
    text-decoration: none;
}

.listt, .listt:visited {
    color:  #4b3832;   
}
